@import "configs";
@import "utilities";
// General Styling
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}
a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
#header{
    // Header-home
    &-home{
        background: $bg-img no-repeat center right / cover;
        height: 100vh;
        color: #fff;
         // Header-content
        .header-content{
            text-align: center;
            padding-top: 10%;
            h1{
                font-size: 4rem;
                line-height: 1.4;
            }
    }
    }
   
    // Header-inner
    &-inner{
        background: $bg-img no-repeat 20% 30% / cover;
        height: 5.5rem;
        border-bottom: 3px solid $main-color;
    }
}
// Logo and navbar will be in both header-home and header-inner. But we don't have #header, we have #header-home and #header-inner. 

// Logo
#logo{
    width: 70px;
    height: 70px;
    // If you use txt like <h1> with id of logo
    color: #fff;
    text-transform: uppercase;
}

// Main-nav
#main-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    ul{
        display: flex;
        li{
            margin-right: 1.5rem;
            padding: 1rem 0 1rem 1.5rem;
            a{
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                border-bottom: 3px transparent solid;
                // When we hover over it, there will be line under it.If we dont give border here and put it on hover then it push the text upward to give border.  
                padding-bottom: 0.5rem;
                transition: border-color 0.5s;
                &:hover{
                    border-color: $medium-color;
                }
                &.current{
                    border-color: $main-color;
                }
            }
        }
    }
}

// Home Sections
#home{
    &-a{
        .specials{
            display: grid;
            grid-gap: 1.5rem;
            grid-template-columns: repeat(4,1fr);
            margin-top: 3rem;
            i{
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }

    // Home section b|Stats
    &-b{
        .stats{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            div{
                padding: 2rem 0;
                &:nth-child(odd){
                    background-color: $medium-color;
                }
                &:nth-child(even){
                    background-color: $light-color;
                }
            }
            li{
                line-height: 2;
                &.stats-title{font-size: 1.5rem;}
                &.stats-number{font-size: 2rem; font-weight: bold;}
            }
        }
    }

    // Home section c|Process
    &-c{
        .process{
            display: grid;
            grid-gap: 1.5rem;
            grid-template-columns: repeat(4,1fr);

            // .process-icon
            &-icon{
                border-radius: 50%;
                background: $dark-color;
                color:set-text-color($dark-color);
                padding: 2rem;
                width: 70px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                position: relative;
                transition: all 1s;
                &:hover{
                    background: $main-color;
                    color: set-text-color($main-color);
                    height: 90px;
                    width: 90px;
                    line-height: 90px;
                    .process-step{
                        background: $dark-color;
                    }
                }
            }
            // process-step
            &-step{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 28px;
                background: $main-color;
                color: set-text-color($main-color);
                border-radius: 50%;
                height: 15px;
                width: 15px;
                line-height: 15px;
                padding: 1rem;
                transition: all 1s;
            }
        }
    }
}

// About Sections
#about
{
    // About Section A|Bio
    &-a{
        .about-info{
            display: grid;
            grid-template-areas: 
            'bio-img bio bio'
            'aw1 aw2 aw3';
            grid-gap: 1.1rem;
        }

        // Grid Area
        .bio-image{ grid-area: bio-img; } 
        .bio{ grid-area: bio; border-left: 3px solid $main-color; padding: 0.8rem;}
        .award-1{ grid-area: aw1;}
        .award-2{ grid-area: aw2;}
        .award-3{ grid-area: aw3;}

        .award-1 .fas,
        .award-2 .fas,
        .award-3 .fas{color: $main-color; margin: 1rem;}
    }
    // About B|Progress Bar
    &-b{
        .progress{
            overflow: hidden;
            height: 20px;
            background-color: $medium-color;
            border-radius: 5px;
            margin-bottom: 0.4rem;
            div{
                height: 100%;
                color: #fff;
                text-align: center;
                background-color: $main-color;
            }
        }
    }
    // About C|Logos
    &-c{
        .about-logos{
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(4,1fr);
            img{
                width: 70%;
            }
        }
    }

    // about-d|Testimonials
    &-d{
        .testimonials{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 0.5rem;
            ul{
                list-style: none;
                margin-top: 1rem;
                display: flex;
                align-items: center;
            }
            p{
                border: 1px solid $medium-color;
                border-radius: 5px;
                padding: 0.5rem;
            }

            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }
    }
}

// Contact page Section Styling

#contact{
    // #contact-a
    &-a{
        .input-fields{
            display: grid;
            grid-template-areas: 
            'name email'
            'subject phone'
            'message message';
            grid-gap: 1.2rem;
            margin-bottom: 1rem;

            // Grid Areas
            .input{
                &-name{grid-area: name;}
                &-email{grid-area: email;}
                &-subject{grid-area: subject;}
                &-phone{grid-area: phone;}
                &-message{grid-area: message; height: 100px; font-size: 1.2rem; font-family: Arial, Helvetica, sans-serif;}
            }
            .text-input{
                padding: 1rem 0.3rem;
                font-size: 1.2rem;
            }
        }
        button[type='submit']{width: 70%;}
    }

    // #contact-b|Contact Info
    &-b{
        .contact-info{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 1.2rem;
            text-align: center;
            padding: 1rem 0;
        }
    }

    &-c{
        h1{font-size: 2rem;}
    }
}

// Footer styling
#main-footer{
    background-color: $dark-color;
    color: #fff;
    height: 5rem;
    // padding: 2.5rem 0;
    .footer-content{
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        .social .fab{
            margin-right: 1rem;
            border: 2px solid #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;
            &:hover{
                background-color: $main-color;
            }
        }
    }
}
// Importing MediaQueries
@import 'media';
